---
import { getEntry } from 'astro:content'

import ThemeToggle from '@/components/ThemeToggle.astro'
import Layout from '@/layouts/Layout.astro'
import ExperienceSection from '@/sections/ExperienceSection.astro'
import MainSection from '@/sections/MainSection.astro'
import ProjectsSection from '@/sections/ProjectsSection.astro'
import SkillsSection from '@/sections/SkillsSection.astro'

const mainEntry = await getEntry('main', 'data')
const skillsEntry = await getEntry('skills', 'data')
const experienceEntry = await getEntry('experience', 'data')
const projectsEntry = await getEntry('projects', 'data')
---

<Layout title="Welcome to Astro.">
  <ThemeToggle />
  <main
    class="w-full max-w-5xl space-y-4 px-2 py-3 sm:space-y-6 sm:px-8 sm:py-12 lg:space-y-8 lg:py-20"
  >
    <MainSection {...mainEntry.data} />
    <SkillsSection {...skillsEntry.data} />
    <ExperienceSection {...experienceEntry.data} />
    <ProjectsSection {...projectsEntry.data} />
    <!-- <PortfolioSection {...sections.portfolio} />
    <EducationSection {...sections.education} />
    <TestimonialsSection {...sections.testimonials} />
    <FavoritesSection {...sections.favorites} /> -->
  </main>
  <!-- <Sidebar sections={sections} className="sticky top-8 mt-20" />
  <script src="../web/scripts/initialize-tooltips.ts"></script> -->
</Layout>
