---
import type { Sections } from '@/types/content'

import '@fontsource-variable/inter'

import Footer from '@/components/pdf/Footer.astro'
import EducationSection from '@/sections/pdf/EducationSection.astro'
import ExperienceSection from '@/sections/pdf/ExperienceSection.astro'
import MainSection from '@/sections/pdf/MainSection.astro'
import ProjectsSection from '@/sections/pdf/ProjectsSection.astro'
import SkillsSection from '@/sections/pdf/SkillsSection.astro'
import { getSections, getSettings } from '@/utils/content'

const settings = await getSettings()
const sections = await getSections()

const isVisible = (sectionName: keyof Sections) =>
  sections[sectionName].config.visible
---

<!doctype html>
<html lang={settings.i18n.locale.code}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PDF preview</title>
  </head>
  <body class="flex flex-col bg-white p-[10mm] print:p-0">
    {isVisible('main') && <MainSection {...sections.main} />}
    {isVisible('experience') && <ExperienceSection {...sections.experience} />}
    {isVisible('education') && <EducationSection {...sections.education} />}
    {isVisible('projects') && <ProjectsSection {...sections.projects} />}
    {isVisible('skills') && <SkillsSection {...sections.skills} />}
    {settings.pdf?.footer && <Footer>{settings.pdf.footer}</Footer>}
  </body>
</html>
