---
import type { Person } from '@/types/content'

import Photo from '@/components/Photo.astro'
import Typography from '@/components/Typography.astro'

export interface Props extends Person {}

const { image, name, url } = Astro.props
---

<a
  href={url}
  target="_blank"
  class="flex w-full flex-col gap-3 transition duration-300 hover:-translate-y-1 hover:scale-110"
>
  <Photo
    class="aspect-square rounded-lg object-cover shadow-md transition duration-300"
    src={image}
    alt={name}
    width={200}
    height={200}
  />
  <Typography variant="tile-title">
    {name}
  </Typography>
</a>
