---
import type {
  LevelledSkill as LevelledSkillType,
  SkillSet,
} from '@/types/content.d.ts'

import LevelledSkill from './LevelledSkill.astro'
import TagsList from './TagsList.astro'
import Typography from './Typography.astro'

export interface Props extends SkillSet {}

const { skills, title } = Astro.props

const isLevelledSkillSection = (
  skills: Props['skills'],
): skills is LevelledSkillType[] => {
  const firstSkill = skills[0]
  if (!firstSkill) return false

  return 'level' in firstSkill && firstSkill.level !== undefined
}
---

<div class="flex flex-col gap-3">
  <Typography variant="section-subtitle">{title}</Typography>
  {
    isLevelledSkillSection(skills) ? (
      <div class="flex flex-wrap gap-8">
        {skills.map((skill) => (
          <LevelledSkill {...skill} />
        ))}
      </div>
    ) : (
      <TagsList tags={skills} />
    )
  }
</div>
