---
import type { FeedSection } from '@/types/content'

import BookTile from '@/components/BookTile.astro'
import FeedSubSection from '@/components/FeedSubSection.astro'
import MediaTile from '@/components/MediaTile.astro'
import PersonTile from '@/components/PersonTile.astro'
import SectionCard from '@/components/SectionCard.astro'
import VideoTile from '@/components/VideoTile.astro'

export interface Props extends FeedSection {}

const { config, books, medias, people, videos } = Astro.props
---

<SectionCard {...config}>
  <div class="flex flex-col gap-16">
    <FeedSubSection minTileWidth={160} subSection={books}>
      {books?.data.map(book => <BookTile {...book} />)}
    </FeedSubSection>
    <FeedSubSection minTileWidth={120} subSection={people}>
      {people?.data.map(person => <PersonTile {...person} />)}
    </FeedSubSection>
    <FeedSubSection minTileWidth={204} subSection={videos}>
      {videos?.data.map(video => <VideoTile {...video} />)}
    </FeedSubSection>
    <FeedSubSection minTileWidth={120} subSection={medias}>
      {medias?.data.map(media => <MediaTile {...media} />)}
    </FeedSubSection>
  </div>
</SectionCard>
