---
import type { ImageMetadata } from 'astro'

import { SEO } from 'astro-seo'

import { getSettings } from '@/utils/content'

const settings = await getSettings()

interface Props {
  image: ImageMetadata
}

const { url } = Astro
---

<!doctype html>
<html lang={settings.i18n.locale.code} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={settings.meta.title}
      description={settings.meta.description}
      openGraph={{
        basic: {
          title: settings.meta.title,
          type: 'summary',
          image: new URL('/og.png', url).href,
          url,
        },
      }}
      twitter={{
        creator: '@tinchoz49',
      }}
    />
  </head>
  <body
    class="flex justify-center overflow-x-hidden bg-gray-50 dark:bg-gray-900 xl:relative xl:left-7"
  >
    <slot />
  </body>
</html>
